.services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.cleaning, .cooking, .plumbing{
  background: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  flex-basis: 31%;
  border-radius: 20px;
margin: 10px;
}